.food-card {
    background-color: #fff;
    padding: 20px;

    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
}

.food-card h3 {
    font-size: 26px;
    font-weight: 500;
    margin: 15px 0;
    color: #333;
}

.food-card p {
    font-size: 22px;
    color: #333;
    font-weight: 300;
    margin-bottom: 20px;
}

.food-card img {
    max-width: 100%;
}

.food-card .btn {
    padding: 16px 40px;
    margin: 18px 0;
    display: inline-block;
    border: none;
    background-color: rgb(255, 193, 123);
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;

    display: flex;
    align-items: center;
    gap: 15px;
}

.btn:hover {
    background-color: rgb(255, 169, 71);
    cursor: pointer;
}

/* TODO: Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .food-card {
        padding: 0;
    }

    .food-card h3 {
        font-size: 22px;
        font-weight: 700;
        padding: 0 20px;
    }

    .food-card p {
        font-size: 18px;
        color: #333;
        font-weight: 400;
        padding: 0 20px;
    }

    .food-card .btn {
        padding: 12px 30px;
        font-size: 15px;
        margin-bottom: 30px;
    }
}