.random-food {
    margin: 20px;
    padding: 10px;
    border: 1px solid #333;
    text-align: center;
}

.random-food img {
    width: 100%;
}

.random-food p {
    font-size: 20px;
    padding: 20px;
    padding-bottom: 10px;
    font-weight: 500;
}

/* TODO: Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .random-food {
        margin: 26px 36px;
    }
}

/* TODO: Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .random-food {
        margin: 20px 15px;
    }
}