.selected-food {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 18px 0;
}

.image-area {
    width: 40px;
    height: 40px;
    border: 1px solid rgb(236, 236, 236);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-area img {
    height: 100%;
    display: block;
    /* object-fit: cover; */
}

.food-content {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 16px;
}

.remove-icon {
    color: rgba(51, 51, 51, 0.623);
    padding: 5px;
}

.remove-icon:hover {
    color: #333;
    cursor: pointer;
}

/* TODO: Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .food-content {
        font-size: 18px;
    }
}

/* TODO: Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .food-content {
        font-size: 16px;
        padding: 5px 0;
    }

    .image-area {
        display: none;
    }
}